beautifulsoup4
Flask
flask-appconfig
Flask-Bootstrap
Flask-WTF
Flask-SQLAlchemy
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
requests
selenium
setuptools
simplejson
six
unicodescript
Werkzeug
wsgiref
WTForms
pymysql
flask-whooshalchemy